<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>E-Farmer</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- fonts awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,,600,700|Poppins:400,500,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="" href="farmer.html">
                Home
              </a>
            
              <a class="" href="servicesF.html">
                Services
              </a>
              
              <a class="" href="Contact_us.html">
                Contact Us
              </a>
            </div>
          </div>
          <a class="navbar-brand" href="">
            <span>
              E-Farmer
            </span>
            </a>
        <div class="user_option">
        
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding section_pl ">
    <div class="container py_mobile_45">
      <div class="heading_container">
        <h2>Add/Edit<span> Crop</span></h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
          <%= form_with(model: land) do |form| %>
            <% if land.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(land.errors.count, "error") %> prohibited this land from being saved:</h2>
          
                <ul>
                  <% land.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>s
            <h4 style="color:white;">Enter Survey Number</h4>
              <div class="field">              
              <%= form.text_field :surveyno,placeholder:"Survey Number" %>
            </div>
            <h4 style="color:white;">Enter Area of Land </h4>
              <div class="field">             
              <%= form.text_field :area ,placeholder:"Area"%>
              </div>
            <h4 style="color:white;">Enter Village Name</h4>
            <div class="field">            
            <%= form.text_field :village,placeholder:"Village Name" %>
             </div>  
          <h4 style="color:white;">Enter Agriculture Office Name</h4>
             <div class="field">          
               <%= form.text_field :agrioffice,placeholder:"Agriculture Office Name" %>
             </div>
          <h4 style="color:white;">Enter District Name</h4>
            <div class="field">
            <%= form.text_field :district,placeholder:"District Name" %>
            </div>
           <h4 style="color:white;">Enter Ownership Type</h4>
              <div class="field">
              <%= form.text_field :ownershiptype ,placeholder:"Ownership Type"%>
              </div>
              
              <div class="field">
              <%= form.number_field :farmer_id, id: :land_farmer_id, value: current_farmer.id, type: :hidden %>
            </div>
            
            
              <div class="d-flex ">
              <div class="actions">
                <button>
                 OK                 
                  <% form.submit %>
               
                </button>
               
                </div>
              </div>
              <% end %>
          </div>
        </div>
       
      </div>
    </div>
  </section>

  <!-- end contact section -->


  
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved. Design by
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
  <br>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
 

</body>

</html>
