<%= form_with(model: fbasic) do |form| %>
  <% if fbasic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fbasic.errors.count, "error") %> prohibited this fbasic from being saved:</h2>

      <ul>
        <% fbasic.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :aadhar %>
    <%= form.text_field :aadhar %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.text_field :dob %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode %>
  </div>

  <div class="field">
    <%= form.label :mobno %>
    <%= form.text_field :mobno %>
  </div>

  <div class="field">
    <%= form.number_field :farmer_id, id: :fbasic_farmer_id, value: current_farmer.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
