<%#<p id="notice"><%= notice %></p>

<h1>Basic Details</h1>

<% if @fbasics.length > 1 %>
  <table>
    <thead>
      <tr>
        <th>Aadhar</th>
        <th>Name</th>
        <th>Dob</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Mobno</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @fbasics.each do |fbasic| %>
        <% if fbasic.farmer == current_farmer %>
          <tr>
            <td><%= fbasic.aadhar %></td>
            <td><%= fbasic.name %></td>
            <td><%= fbasic.dob %></td>
            <td><%= fbasic.gender %></td>
            <td><%= fbasic.address %></td>
            <td><%= fbasic.pincode %></td>
            <td><%= fbasic.mobno %></td>
            <%#<td><%= link_to 'Show', fbasic %></td>
            <td><%= link_to 'Edit', edit_fbasic_path(fbasic) %></td>
            <%#<td><%= link_to 'Destroy', fbasic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>


<% else %>
  
  <%= link_to 'Add Basic Details', new_fbasic_path %>

<% end %>

<br>

<%= link_to 'Home', 'farmer' %>