<!DOCTYPE html>
<html>
   
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>E-Farmer</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- fonts awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,,600,700|Poppins:400,500,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="" href="farmer.html">
                Home
              </a>
              
              <a class="active" href="servicesF.html">
                Services
              </a>
              
              <a class="" href="Contact_us.html">
                Contact Us
              </a>
            </div>
          </div>
          <a class="navbar-brand" href="farmer.html">
            <span>
              E-Farmer
            </span>
            </a>
        <div class="user_option">
        
        </div>
      </nav>
    </header>
    <!-- end header section -->
  </div>

  <!-- we do section -->

  <section class="crops_section layout_padding section_pr">
    <div class="container">
      <div class="heading_container">
        <h2><span> </span> Basic Details</h2>
      </div>
    
    <% if @fbasics.length > 1 %>
    <table class=" table table-light table-striped"  >
      <thead  class="table-dark">
        <tr>
          <th>Aadhar</th>
          <th>Name</th>
          <th>Dob</th>
          <th>Gender</th>
          <th>Address</th>
          <th>Pincode</th>
          <th>Mob no</th>
          <th colspan="3"></th>
        </tr>
      </thead>
  
      <tbody>
      <% @fbasics.each do |fbasic| %>
        <% if fbasic.farmer == current_farmer %>
          <tr>
            <td><%= fbasic.aadhar %></td>
            <td><%= fbasic.name %></td>
            <td><%= fbasic.dob %></td>
            <td><%= fbasic.gender %></td>
            <td><%= fbasic.address %></td>
            <td><%= fbasic.pincode %></td>
            <td><%= fbasic.mobno %></td>
            <td><%= link_to 'Edit', edit_fbasic_path(fbasic),class:"btn btn-primary" %></td>
            <td><%= link_to 'Destroy', fbasic, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
    <% else %>
    <br>
     <%= link_to 'Add Basic Details', new_fbasic_path ,class:"btn btn-success" %>

    <% end %>
</div>
  </section>

  <!-- end we do section -->
  <br>

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved. Design by
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>