<%# <p id="notice"><%= notice %></p> 

<h1>Compensations</h1>

<table>
  <thead>
    <tr>
      <th>Natcalname</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compensations.each do |compensation| %>
      <% if compensation.farmer == current_farmer %>
        <tr>
          <td><%= compensation.natcalname %></td>
          <td><%= compensation.amount %></td>
          <td><%= link_to 'Show', compensation %></td>
          <td><%= link_to 'Edit', edit_compensation_path(compensation) %></td>
          <td><%= link_to 'Destroy', compensation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compensation', new_compensation_path %>

<br>

<%= link_to 'Home', 'farmer' %>