<h1>Welcome Officer</h1>
<% if officer_signed_in? %>
    <%= link_to 'Sign Out', destroy_officer_session_path, method: :delete, class:"btn btn-secondary" %><br>
    <%= link_to 'Edit', edit_officer_registration_path, class:"btn btn-secondary" %><br>
    <br>
    <br>

    <%= link_to 'Basic Details', obasics_path, class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Land Details', land_approval_path, class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Crop Details', crop_approval_path, class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Subsidy Details', subsidy_approval_path, class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Insurance Details', grant_insurance_path, class:"btn btn-secondary" %>
    <br>
    <%= link_to 'Compensation Details', compensation_approval_path, class:"btn btn-secondary" %>
    
    
<% else %>
    <%= link_to 'Sign Up', new_officer_registration_path, class:"btn btn-secondary" %><br>
    <%= link_to 'Sign In', new_officer_session_path, class:"btn btn-secondary" %><br>
<% end %>