<p id="notice"><%= notice %></p>

<h1>Nat Calamities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Month</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nat_calamities.each do |nat_calamity| %>
      <tr>
        <td><%= nat_calamity.name %></td>
        <td><%= nat_calamity.type %></td>
        <td><%= nat_calamity.month %></td>
        <td><%= nat_calamity.year %></td>
        <td><%= link_to 'Show', nat_calamity %></td>
        <td><%= link_to 'Edit', edit_nat_calamity_path(nat_calamity) %></td>
        <td><%= link_to 'Destroy', nat_calamity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nat Calamity', new_nat_calamity_path %>
