<%# <p id="notice"><%= notice %></p> 

<h1>Subsidies</h1>

<table>
  <thead>
    <tr>
      <th>Surveyno</th>
      <th>Cropname</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Subsidy.all.each do |subsidy| %>
      <% if subsidy.approved? %>
        <tr>
          <td><%= subsidy.surveyno %></td>
          <td><%= subsidy.cropname %></td>
          <td><%= subsidy.amount %></td>
          <td><%= link_to 'Approve', data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', 'officer' %>